{% extends "Events/base.html" %}

{% block content %} 
  {% for event in events %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <!-- <a class="mr-2" href="#">{{ post.author }}</a> -->
          <small class="text-muted">{{ event.eventTimedate }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ event.eventName }}</a></h2>
        <p class="article-content">{{ event.eventDescription }}</p>
      </div>
    </article>

  {% endfor %}
{% endblock content %}